@model (List<LecturerDto> lecturers, List<Department> departments)

<div class="accordion" id="accordionDepartments">
    @foreach (var dep in Model.departments)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="dep-@dep.DepartmentId.ToString()">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@dep.DepartmentId.ToString()" aria-expanded="false" aria-controls="collapseOne">
                    @dep.Name
                </button>
            </h2>
            <div id="collapse-@dep.DepartmentId.ToString()" class="accordion-collapse collapse" aria-labelledby="dep-@dep.DepartmentId.ToString()" data-bs-parent="#accordionDepartments" style="">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <tr>
                            <th>ПІБ</th>
                            <th>Посада</th>
                            <th class="text-end">Дія</th>
                        </tr>
                        @foreach (var lect in Model.lecturers.Where(l => l.Departments.Any(d => d.DepartmentId == dep.DepartmentId)))
                        {
                            <tr>
                                <td>@lect.LastName @lect.FirstName @lect.MiddleName</td>
                                <td>@lect.AcademicTitle.GetDisplayName()</td>
                                <td class="text-end">
                                    <a class="btn btn-success" asp-controller="Lecturers" asp-action="License" asp-route-id="@lect.Id">Ліцензування</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>